@media only screen and (max-width: 767px) {
    .itemDragao {
        text-align: center;
        font-size: 1.5em;
        flex: 1;
        border: 1px solid #eee;
    }
    
    .containerDragao {
        width: 100%;
        height: 736px;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 15px;
        align-items: center;
        padding-top: 8%;
        background-color: #fff;
    }

    .inputDragao {
        width: 250px;
        height: 25px;
        border: 1px solid #999;
        border-radius: 2px;
    }

    ::placeholder {
        font-size: 15px;
        padding-left: 5%;
    }
    
    .textAreaDragao {
        width: 250px;
        height: 53px;
        font-size: 16px;
        padding-top: 3px;
        border: 1px solid #999;
        border-radius: 2px;
    }

    .buttonSalvar {
        width: 100%;
        border-radius: 1px;
        background: #999;
        color: #fff;
        height: 32px;
        font-size: 20px;
        margin-bottom: 2px;
    }

    .buttonSalvar:hover {
        cursor: pointer;
    }

    .buttonExcluir {
        width: 100%;
        border-radius: 1px;
        background: #c00;
        color: #fff;
        height: 32px;
        font-size: 20px;
    }

    .buttonExcluir:hover {
        cursor: pointer;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    h3{
        font-size: 28px;
    }
    
    .itemDragao {
        margin: 10px;
        text-align: center;
        font-size: 1.5em;
        flex: 1;
    }

    .containerDragao {
        max-width: 100%;
        height: 1000px;
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 15px;
        align-items: center;
        background-color: #fff;
        font-size: 22px;
    }

    .inputDragao {
        width: 340px;
        height: 48px;
        font-size: 18px;
        padding-top: 3px;
        border: 1px solid #999;
        border-radius: 2px;
    }

    ::placeholder {
        font-size: 20px;
        padding-left: 5%;
    }

    .buttonSalvar {
        width: 100%;
        border-radius: 1px;
        background: #999;
        color: #fff;
        height: 45px;
        font-size: 24px;
        margin-bottom: 2px;
    }

    .buttonSalvar:hover {
        cursor: pointer;
    }

    .buttonExcluir {
        width: 100%;
        border-radius: 1px;
        background: #c00;
        color: #fff;
        height: 45px;
        font-size: 24px;
    }

    .buttonExcluir:hover {
        cursor: pointer;
    }


}

@media only screen and (min-width: 1024px) {

    h3{
        font-size: 28px;
    }
    
    .itemDragao {
        margin: 10px;
        text-align: center;
        font-size: 1.5em;
        flex: 1;
    }

    .containerDragao {
        max-width: 450px;
        height: 380px;
        margin: 8% auto;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }

    .inputDragao {
        width: 340px;
        height: 30px;
        font-size: 16px;
        padding-top: 3px;
        border: 1px solid #999;
        border-radius: 2px;
    }

    .textAreaDragao {
        width: 336px;
        height: 53px;
        font-size: 16px;
        padding-top: 3px;
        border: 1px solid #999;
        border-radius: 2px;
    }

    ::placeholder {
        font-size: 20px;
        padding-left: 5%;
    }

    .buttonSalvar {
        width: 50%;
        border-radius: 1px;
        background: #999;
        color: #fff;
        height: 35px;
        font-size: 18px;
    }

    .buttonSalvar:hover {
        cursor: pointer;
    }

    .buttonExcluir {
        width: 50%;
        border-radius: 1px;
        background: #c00;
        color: #fff;
        height: 35px;
        font-size: 18px;
    }

    .buttonExcluir:hover {
        cursor: pointer;
    }

}